@media (min-width: 992px) and (max-width: 1330px) {
  .result__products {
    justify-content: center;
    grid-gap: 40px;
  }
  h1,
  p,
  .result__pages {
    left: 7%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .quiz__box {
    width: 80%;
    left: 0;
    margin: 0 auto;
  }
  li {
    width: fit-content;
  }
  .result__products {
    justify-content: space-around;
  }
  h1,
  p,
  .result__pages {
    left: 6%;
  }
  .result__item__img_heart:hover {
    width: 29px;
    height: 26px;
  }
}

@media (max-width: 767px) {
  .quiz__box {
    width: 85%;
    left: 0;
    margin: 0 auto;
  }
  li {
    width: fit-content;
  }
  p {
    max-width: 460px;
  }
  h1,
  p,
  .result__pages {
    left: 7%;
  }
  .result__products {
    justify-content: space-around;
  }

  .result__item__prices {
    left: 0;
  }
  .result__item__img_heart:hover {
    width: 29px;
    height: 26px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 30px;
    max-width: 320px;
  }
  p {
    font-size: 20px;
    max-width: 350px;
  }

  li {
    font-size: 13px;
  }

  .quiz__box {
    height: 380px;
    margin-bottom: 150px;
  }

  .result__item__img {
    max-width: 390px;
  }

  .result__item {
    width: 390px;
  }
  .price {
    position: relative;
    left: -5px;
  }

  .discunt-price {
    margin-right: 20px;
  }

  .result__item__name {
    width: fit-content;
  }
  .result__item__img_heart:active {
    filter: invert(90%);
  }
}
