@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
h1 {
  position: relative;
  width: fit-content;
  top: 50px;
  left: 50px;
  font-size: 40px;
  font-weight: 700;
}

h2 {
  position: relative;
  width: fit-content;
  left: 4%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.2px;
}

h4 {
  position: relative;
  width: fit-content;
  font-size: 15px;
  left: 4%;
  top: 6%;
  font-weight: 400;
  color: #9a9a9a;
}

p {
  position: relative;
  top: 60px;
  left: 50px;
  font-weight: 400;
  font-size: 20px;
  width: fit-content;
  max-width: 583px;
  line-height: 24.2px;
}

span {
  font-size: 20px;
  white-space: nowrap;
}

img {
  height: 100%;
}

ul {
  padding-left: 3.5%;
}

li {
  list-style: none;
  font-size: 15px;
  font-weight: 400;
}

.quiz {
  position: relative;
  display: block;
  height: fit-content;
}

.result {
  display: none;
  width: 100%;
  margin-bottom: 100px;
}

.quiz__box {
  position: relative;
  width: 868px;
  height: 432px;
  background-color: #ddf3ff;
  border-radius: 10px;
  top: 73px;
  left: 50px;
}

.dot-indicators {
  position: relative;
  top: 8%;
  left: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
  height: 20px;
}

.indicator {
  width: 20px;
  border-radius: 100%;
  background-color: rgb(160, 208, 246);
}

.quiz__buttons {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  top: 20%;
  left: 4%;
}

.quiz__body {
  position: relative;
  top: 10%;
}

button {
  color: black;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
  background-color: white;
  border: none;
  margin-right: 10px;
}

button:focus,
.btn-result {
  color: white;
  background-color: #00a5ff;
}

.btn-prev,
.btn-result {
  display: none;
  cursor: pointer;
}

.btn-next {
  display: block;
  cursor: pointer;
}

.result__products {
  position: relative;
  top: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 13px;
  width: 94%;
  margin: 0 auto;
}

.result__pages {
  position: relative;
  width: fit-content;
  left: 3%;
  top: 70px;
  height: fit-content;
  font-size: 20px;
  color: #b8b8b8;
}

.result__pages::first-letter {
  color: #00a5ff;
}

.result__item {
  position: relative;
  width: 240px;
  height: 324px;
  margin-bottom: 80px;
  cursor: pointer;
}

.result__item__img {
  max-width: 240px;
  height: 240px;
  border-radius: 6.75px;
  border: 1px solid #e9e9e9;
  text-align: center;
  overflow: hidden;
}

.result__item__img_heart {
  position: absolute;
  left: 83%;
  top: 5%;
  width: 27px;
  height: 24px;
}

.active-heart {
  filter: invert(90%);
}

.result__item__img_heart:hover {
  cursor: pointer;
  filter: invert(90%);
  width: 29px;
  height: 26px;
}

.result__item__name {
  width: 240px;
  height: 44px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
}

.result__item__prices {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: left;
  left: -5px;
  width: 191px;
  height: 20px;
}

.discount-price {
  font-size: 20px;
  display: block;
  font-weight: 600;
  color: #b8b8b8;
  text-decoration: line-through;
  margin-right: 10px;
  margin-top: 8px;
}

.price {
  font-size: 27px;
  font-weight: 600;
}
